body{
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

.logoAlura{
    padding-top: 10px;
    margin: 0 0 0 10px;
    width: 120px;
}

main{
    display: flex;
    height: 1024px ;
}

header{
    position: absolute;
}

.seccionEncriptar{
    width: 864px;
    height: 960px;
    margin-left: 240px;
    margin-bottom: 5px;
    margin-top: 168px;
}

.textoEncrip{
    width: 577px;
    height: 400px;
    padding: 2px;
    font-family: 'Inter', sans-serif;
    text-transform: lowercase;
    font-size: 32px;
    border: none;
    color: #0A3871;
    background-color: #E5E5E5;

}
::placeholder{
    color: #0A3871;
    text-transform:initial;

}

.info{
    position: absolute;
    width: 270px;
    height: 10px;  
    top:851px; 
    font-size: small;

}

.info span{
    font-size: 12px;
}

.botones{
    position: absolute;
    top: 885px;  
    
}

.btnEncriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    background-color: #0A3871;
    color: #E5E5E5;
    transition: 1s all;
}

.btnEncriptar:hover{
    transform: scale(1.0);
    color: black;
    background-color: #D8DFE8;
}

.btnDesencriptar{
    width: 328px;
    height: 67px;
    margin-left: 5px;
    border-radius: 24px;
    border: 0.5px solid #0A3871 ;
    background-color: #D8DFE8;
    color: #0A3871;
    transition: 1s all;
}

.btnDesencriptar:hover{
    transform: scale(1.0);
    color:#D8DFE8;
    background-color: #0A3871;
}

.SeccionResultado{
    margin-top: 20px;
    margin: 0 auto;
    width: 400px;
    height: 600px;
    padding: 10px;
    
}

.SeccionResultado li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 944px;
    margin: 0 auto;
    padding: 30px 20px;
    border-radius: 32px;
    box-sizing: border-box;
    background-color: white;
    border: 0.5px solid black;
    
    
}

.SeccionResultado img{
    position: relative;
    margin-top: 60%;
}

.SeccionResultado h2{
    font-size: 24px;
    font-weight: bold;
    color: #343A40;
    margin: 30px 20px;

}

 .btnCopiar{
    margin: 80% auto;
    width: 120px;
    
}
