body{
    background: #E5E5E5;
    font-family: 'Inter', sans-serif;
    overflow-y: hidden;
}

.logoAlura{
    padding-top: 10px;
    margin: 0 0 0 10px;
    width: 120px;
}

main{
    display: flex;
    height: 1024px ;
}

header{
    position: absolute;
}

.seccionEncriptar{
    width: 580px;
    height: 960px;
    margin-left: 10%;
    margin-bottom: 5px;
    margin-top: 100px;
}

.textoEncrip{
    width: 577px;
    height: 400px;
    padding: 2px;
    font-family: 'Inter', sans-serif;
    text-transform: lowercase;
    font-size: 32px;
    border: none;
    resize: none;
    outline: 0 none;
    color: #0A3871;
    background-color: #E5E5E5;

}
::placeholder{
    color: #0A3871;
    text-transform:initial;

}

.info{
    position: absolute;
    width: 270px;
    height: 10px;  
    top:520px;
    left: 10%; 
    font-size: small;

}

.info span{
    font-size: 12px;
}

.botones{
    position: absolute;
    top: 539px;
    left: 10%;  
    
}

.btnEncriptar{
    width: 328px;
    height: 67px;
    padding: 24px;
    border-radius: 24px;
    background-color: #0A3871;
    color: #E5E5E5;
    transition: 1s all;
}

.btnEncriptar:hover{
    transform: scale(1.0);
    color: black;
    background-color: #D8DFE8;
}

.btnDesencriptar{
    width: 328px;
    height: 67px;
    margin-left: 5px;
    border-radius: 24px;
    border: 0.5px solid #0A3871 ;
    background-color: #D8DFE8;
    color: #0A3871;
    transition: 1s all;
}

.btnDesencriptar:hover{
    transform: scale(1.0);
    color:#D8DFE8;
    background-color: #0A3871;
}

.SeccionResultado{
    margin-top: 20px;
    margin-left: 200px;
    width: 400px;
    height: 600px;
    padding: 10px;
    
}

.SeccionResultado li{
    display: inline-block;
    text-align: center;
    vertical-align: top;
    height: 600px;
    margin: 0 auto;
    padding: 30px 20px;
    border-radius: 32px;
    box-sizing: border-box;
    background-color: white;
    border: 0.5px solid black;
    
    
}

#textoResultado{
    position: relative;
    margin: 5px;
    height: 50px;
    text-align: center;
    font-size: 32px;

}

.SeccionResultado img{
    position: relative;
}

.SeccionResultado h2{
    font-size: 24px;
    font-weight: bold;
    color: #343A40;
    margin: 20px 20px;

}

 .btnCopiar{
    position: relative;
    top: 77%;
    justify-content: end;
    width: 336px;
    height: 67px;
    border: 0.5px solid #0A3871 ;
    border-radius: 24px;
    color: #0A3871;
    background-color: #D8DFE8;
    transition: 1s all;

    
}
.btnCopiar:hover{
    transform: scale(1.0);
    color:#D8DFE8;
    background-color: #0A3871;
}

@media screen and (max-width:820px){
    main{
        display: block;
        height: 100px;
    }
    header{
        position: relative;
        width: auto;
        height: auto;
        margin-top: 20px;
    }
    .seccionEncriptar{
        height: 400px;
    }
    .textoEncrip{
        margin-top: 140px;
        margin-bottom: 10px;
        height: 350px;
    }
    .info{
        top: 50%;
    }

    .botones{
        top: 55%;
    }
    .SeccionResultado {
        margin-left: 58px;
        margin-top: 20px;
        top: 40%;


    }
    .SeccionResultado li{
        position: relative;
        height: 133px;
        width: 680px;
        top: 40%;
        padding: 5px 5px;
        overflow-y:unset;
    }

    #textoResultado{
        margin: 5px;
        height: 133px;
        top: 30px;
        text-align: center;
        font-size: 32px;
    
    }
    .SeccionResultado img{
        display: none;
        bottom: 20px;
        
    }

    .SeccionResultado h2{
        position: relative;
        margin: 5px;
        bottom: 100px;
        
        
    }

    .SeccionResultado p{
        position: relative;
        bottom: 100px;
    
    }



   


}